<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  	<div class="navbar-header">
  	  <a class="navbar-brand" href="../">Events</a>
  	</div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Event list", all_events_path %>
        <% if user_signed_in? %>
          <li><%= link_to "My events", my_events_path %>
          <li><%= link_to "My Profile", edit_user_registration_path%> </li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method=>'delete'%> </li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path%> </li>
          <li><%= link_to "Sign in", new_user_session_path%> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>    
</html>
